.navbar li{
	display: inline;
}

.navbar{
	font-weight: bold;
	right: 30px;
}

.bar{
	border-top: 20px;
	margin-top: 100px;
}

/*.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  background-color: rgb(210, 227, 235);
  border: 20px solid rgb(245, 245, 245);
}*/

.jumbotron .Head{
	/*background-color: rgb(206, 228, 251);*/
	color: Gray;
	margin-top: auto;
	margin-left: auto;
	padding: 5px;
}
