.navigation li{
	display: inline-block;
	border-top: 20px;
	right: 30px;
}

.navigation .navbar{
	font-weight: bold;
	padding-top: 20px;
}

/*.navigation .navbar .right{
	float: right;
}*/

.navigation .navbar .bar{
	margin-top: 50px;
}
.jumbotron{
	/*color: inherit;*/
	padding: 30px 15px;
  	margin-bottom: 30px;
	/*color: rgb(230, 230, 250);*/
	background-color: rgb(210, 227, 235);/**/
	border: 20px solid rgb(245, 245, 245);
}

.jumbotron .Head{
	/*background-color: rgb(206, 228, 251);*/
	color: Gray;
	margin-top: auto;
	margin-left: auto;
	padding: 5px;
}

