<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="../static/css/main.css" >
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css" >
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" >        
            <!-- <div class="btn-group navbar-header" id = "main"> -->
                <!-- <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"> -->
                    <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
                    <!-- navbar -->
                <!-- </button> -->
            {% if g.user.is_authenticated() %}
                 <ul class="nav navbar-nav navbar-right">
                    <li> <a href = {{ g.url }}> {{ g.user.userid }} </a> </li>
                    <li> <a href = "/logout"> Log out </a> </li>
                </ul>
            {% else %}
                <ul class = "nav navbar-nav navbar-right">
                    <li> <a href = "/login"> Login </a> </li>
                    <li> <a href = "/sign_up"> Sign up </a> </li> 
                </ul>
            {% endif %}

                <ul class = "nav nav-tabs">
                    <li> <a href = "/"> Homepage </a> </li>
                    <li> <a href = {{ url_for("Problems")}}> Problems </a> </li>
                    <li> <a href = {{ url_for("Status")}}> Status </a> </li> 
                    <li> <a href = {{ url_for("Ranklist") }}> Ranklist </a> </li>
                    <li> <a href = "/FAQ/"> F.A.Q </a> </li> 
                </ul>
        </div>
        <div id = "info">
            <p>{% if g.info %}</p>
        <div class="alert alert-danger" role="alert">
    
            <center><h3>{{ g.info }}</h3></center>
        </div>
        {% endif %}
        </div>
        {% block content %}
        {% endblock %}
    </div>
    <center> 
        If you have any questions, please contact<a href="mailto:someone@example.com"> wendyh2003888@gmail.com </a>
     </center>

</html>