<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" >
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
		<style type="text/css">
		p {
			color : Black;
			margin-left : 5px;
		}
		ul {
			color : Teal
		}
		</style>

	</head>

	<body> 
		<div class="collapse navbar-collapse" >
			{% if g.user.is_authenticated() %}
				 <ul class="nav navbar-nav navbar-right">
					<li> <a href = {{ g.url }}> {{ g.user.userid }} </a> </li>
					<li> <a href = "/logout"> Log out </a> </li>
				</ul>
			{% else %}
				<ul class = "nav navbar-nav navbar-right">
					<li> <a href = "/login"> Login </a> </li>
					<li> <a href = "/sign_up"> Sign up </a> </li> 
				</ul>
			{% endif %}
		
			<div class = "main">
	            <ul class = "nav nav-tabs">
	                <li> <a href = "/"> Homepage </a> </li>
	                <li> <a href = {{ url_for("Problems")}}> Problems </a> </li>
	                <li> <a href = {{ url_for("Status")}}> Status </a> </li> 
	                <li> <a href = "/FAQ/"> F.A.Q </a> </li> 
	            </ul>
			</div>
		</div>

		<div class = "jumbotron" id = "jumbotron">
			<div class = "Head">
				<h1 align="center"> <bold> Hello </bold> </h1>
				<hr/>
				<br/>
			</div>
			<div class = "container">
					<p>
					test.
					</p>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>
</html>