<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" >
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
		<style type="text/css">
		p {
			color : Black;
			margin-left : 5px;
		}
		ul {
			color : Teal
		}
		</style>

	</head>

	<body> 
		<div class = "navbar">
			{% if g.user.is_authenticated() %}
				<ul class = "nav navbar-right">
					<li> <a href = "#"> {{ g.user.userid }} </a> </li>
					<li> <a href = {{ g.url }}> Profile </a> </li>
					<li> <a href = "/logout"> Log out </a> </li>
				</ul>
			{% else %}
				<ul class = "navbar-form navbar-right">
					<li> <a href = "/login"> Login </a> </li>
					<li> <a href = "/sign_up"> Sign up </a> </li> 
				</ul>
			{% endif %}
			<div class = "nav nav-tabs">
				<ul class = "bar">
					<li> <i> <big> <a href = "/"> Homepage </a> </big> </i> </li>
					<li> <i> <big> <a href = "problems"> Promblems </a> </big> </i> </li>
					<li> <i> <big> <a href = "#"> Status </a> </big> </i> </li>
					<li> <i> <big> <a href = "#"> F.A.Q </a> </big> </i> </li>
				</ul>
			</div>
		</div>

		<div class = jumbotron>
			<div class = "Head">
				<h1 align="center"> <bold> Hello </bold> </h1>
				<hr/>
				<br/>
			</div>
			<div class = "container">
					<p>
					test.
					</p>
			</div>
		</div>
		<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</body>
</html>