<title>Login Form</title>
{% extends "base.html" %}
{% block content %}
<!-- <head>
  
  <link rel="stylesheet" href="../static/css/Formstyle.css">
</head> -->

 <!--  <form method="POST" action="/login" class="login">
    <p>
      <label for="login">Email:</label>
      <input type="text" name="login" id="login" value="name@example.com">
    </p>

    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" value="4815162342">
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Login</button>
    </p>

    <p class="forgot-password"><a href="index.html">Forgot your password?</a></p>
  </form>
 -->
<body>
  <form action = "/login" method="POST" class="sign_up">
        {{ form.csrf_token }}
        {% if error %}
            <center> <h3 class="error"> {{ error }} </h3> </center>
        {% endif %}

        <table id = "login">
            <tr>
                <td><label for="userid">User ID:</label></td>
                <td>{{ form.userid(size = 20) }}</td>
            </tr>
            
            <tr>
              <td><label for="password">Password:</label></td>
              <td>{{ form.password(size = 20) }}</td>
            </tr>
        </table>
        <p class="login-submit">
            <button type="submit" class="login-button">Login</button>
            <button type="reset" class="login-button">Reset</button>
        </p>
  </form>
</body>
{% endblock %}