<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <title>Login Form</title>
	  <link rel="stylesheet" href="../static/loginstyle.css">
	  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
	  <form method="POST" action="/login" class="login">
	    <p>
	      <label for="login">userID</label>
	      <input type="text" name="login" id="login" value="username">
	    </p>

	    <p>
	      <label for="password">Password:</label>
	      <input type="password" name="password" id="password" value="123456">
	    </p>

	    <p class="login-submit">
	      <button type="submit" class="login-button">Login</button>
	    </p>

	    <!-- <p class="forgot-password"><a href="index.html">Forgot your password?</a></p> -->
	  </form>
	</body>
</html>
