<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/css/Formstyle.css">
    <center><h1> Modify Profile </h1></center>
</head>
<body>
  <div class = "nav">
            <ul>
                <li> <a href = "/"> Homepage </a> </li>
                <li> <a href = "/promlems/"> Problems </a> </li>
                <li> <a href = "#"> Status </a> </li> 
                <li> <a href = "#"> F.A.Q </a> </li> 
            </ul>
    </div>
  <form action = {{ url_for('Modify',userid = user.userid) }}  method="POST" class="sign_up">
        {{ form.csrf_token }}
        <!-- {% if error %}
            <center> <h3 class="error"> {{ error }} </h3> </center>
        {% endif %} -->

        <table id = "register">
            <tr>
                <td><label for= "Nickname" >Nick Name:</label></td>
                <td>{{ form.nickname }}</td>
            </tr>
            <tr>
              <td><label for="password">Password:</label></td>
              <td>{{ form.password }}</td>
            </tr>
            <tr>
              <td><label for="confirm">Repeat Password:</label></td>
              <td>{{ form.confirm }}</td>
            </tr>
            <tr>
              <td><label for="emial">E-mail:</label></td>
              <td>{{ form.email }}</td>
            </tr>
        </table>
        <button type="submit" >Save</button>
  </form>
</body>
