<center><h1> {{ problem.title }} </h1> </center>
{% extends "base.html" %}
{% block content %}
	<head>
		<link href = "../static/css/main.css" rel = "stylesheet">
		
	</head>
	<body id="problem">
		<div class="container" >

	    	<div>
	    	</div>
			<div id="jumbotron">
				    <dl id = "problem">
					  <dt> Description </dt>
					  <dd> {{ problem.description }} </dd>
					  <dt> Input </dt>
					  <dd> {{ problem.pbinput }} </dd>
					  <dt> Output </dt>
					  <dd> {{ problem.pboutput }} </dd>
					  <dt> Sample Input </dt>
					  <dd> {{ problem.sinput }} </dd>
					  <dt> Sample Output </dt>
					  <dd> {{ problem.soutput }} </dd>
					  <dt> Hint </dt>
					  <dd> {{ problem.hint }} </dd>
					</dl>
			</div>
			<center>
				<div class="btn-group" role="group" id = "submit">
					<a href= {{ url_for('Submits', problemid = problem.id) }} class="btn btn-default" role="button"> Submit </a>
					<a href= "/status/"class="btn btn-default" role="button"> Statistic </a>
					<a  class="btn btn-default" role="button" href= "{{ url_for('Discuss', pbid = problem.id) }}"> Discuss </a>
				</div>
			</center>
		</div>
	</body>
{% endblock %}