<!DOCTYPE html>
<html>
	 <head>
	 	<link href = "../static/css/main.css" rel = "stylesheet">
	 	<link rel="stylesheet" href="../static/css/bootstrap.css">
	 	<center> <h1> Problems </h1> </center>
	 </head>
	 <body>
	 	<div class="container">
		 	<div class="collapse navbar-collapse" >
			 	{% if g.user.is_authenticated() %}
					 <ul class="nav navbar-nav navbar-right">
						<li> <a href = {{ g.url }}> {{ g.user.userid }} </a> </li>
						<li> <a href = "/logout"> Log out </a> </li>
					</ul>
				{% else %}
					<ul class = "nav navbar-nav navbar-right">
						<li> <a href = "/login"> Login </a> </li>
						<li> <a href = "/sign_up"> Sign up </a> </li> 
					</ul>
				{% endif %}
				<ul class = "nav nav-tabs">
					<ul class = "nav nav-tabs">
	                <li> <a href = "/"> Homepage </a> </li>
	                <li> <a href = {{ url_for("Problems", page = 1)}}> Problems </a> </li>
	                <li> <a href = {{ url_for("Status", page = 1)}}> Status </a> </li> 
	                <li> <a href = "/FAQ/"> F.A.Q </a> </li>
	            </ul>
				</ul>
			
				<ul class="nav navbar-nav navbar-right">
					<li>  <a href = "/addprb"> Add problem </a> </li>
					<!-- <li>  <a href = "#"> Edit problem </a> </li> -->
				</ul>
			</div>
			<table  class="table table-striped table-bordered">
				<thread>
					<tr>
						<th>Problem ID</th>
						<th>Title</th>
						<th>Ratio</th>
						<th>AC</th>
						<th>Submit</th>
					</tr>
				</thread>
				<tbody>
					{% for problem in  problemlist.items %}
					<tr>
						<td> {{ problem.id }} </td>
						<td><a href = {{ url_for("Showprb", problemid = problem.id) }}> {{ problem.title }} </a> </td>
						<td> {{ problem.ratio }} </td>
						<td> {{ problem.accnt }} </td>
						<td> {{ problem.submitcnt }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	 	</div>
	 	<center>
	 	<nav>
		  <ul class="pagination">
		    {% if problemlist.has_prev %}
	            <li><a href="{{ url_for('Problems', page = problemlist.prev_num) }}">&larr; Previous</a></li>
	        {% else %}
	            <li class = "disabled"><a>&larr; Previous</a></li>
	        {% endif %}
		    {% if problemlist.has_next %}
	            <li><a href="{{ url_for('Problems', page = problemlist.next_num) }}">Next &rarr;</a></li>
	        {% else %}
	            <li class = "disabled"><a>Next &rarr;</a></li>
	        {% endif %}
		  </ul>
		</nav>
		</center>
		 <!-- {% if problemlist.has_prev %}
		 <a href="{{ url_for('Problems', page = problemlist.prev_num) }}"><< Newer posts</a>
		 {% else %}
		 << Newer posts
		 {% endif %} 
		 |
		{% if problemlist.has_next %}
		<a href="{{ url_for('Problems', page = problemlist.next_num) }}">Older posts >></a>
		{% else %}
		Older posts >>
		{% endif %} -->
	 	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	 </body>
	 
</html>