<!DOCTYPE html>
<html>
	 <head>
	 	<link rel="stylesheet" href="../static/css/bootstrap.css">
	 	<center> <h1> Problems </h1> </center>
	 </head>
	 <body>
	 	<div class = "navbar">
	 		<div class = "nav nav-tabs">
				<ul class = "bar">
					<li> <i> <big> <a href = "/"> Homepage </a> </big> </i> </li>
					<li> <i> <big> <a href = "problems"> Promblems </a> </big> </i> </li>
					<li> <i> <big> <a href = "#"> Status </a> </big> </i> </li>
					<li> <i> <big> <a href = "#"> F.A.Q </a> </big> </i> </li>
				</ul>
			</div>
			
			<div class = "nav nav-tabs navbar-right">
				<ul class = "bar">
					<li> <i> <big> <a href = "/addprb"> Add problem </a> </big> </i> </li>
					<li> <i> <big> <a href = "#"> Edit problem </a> </big> </i> </li>
				</ul>
			</div>
	 	</div>
	 </body>
	 
</html>