<!DOCTYPE html>
<html>
	<head>
		<link href = "../static/css/main.css" rel = "stylesheet">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
	</head>
	<body>
		<div class = "container">
			<div class="collapse navbar-collapse" >
			{% if g.user.is_authenticated() %}
				 <ul class="nav navbar-nav navbar-right">
					<li> <a href = {{ g.url }}> {{ g.user.userid }} </a> </li>
					<li> <a href = "/logout"> Log out </a> </li>
				</ul>
			{% else %}
				<ul class = "nav navbar-nav navbar-right">
					<li> <a href = "/login"> Login </a> </li>
					<li> <a href = "/sign_up"> Sign up </a> </li> 
				</ul>
			{% endif %}
		
			<div class = "main">
	            <ul class = "nav nav-tabs">
	                <li> <a href = "/"> Homepage </a> </li>
	                <li> <a href = "/problems/"> Problems </a> </li>
	                <li> <a href = "#"> Status </a> </li> 
	                <li> <a href = "#"> F.A.Q </a> </li> 
	            </ul>
			</div>
			<center> <h1>Profile ------  {{ g.user.userid }}</h1> </center>
		</div>
	    	<div id = "profile">
				<table>
					<tr>
						<td> User ID: </td>
						<td> {{ g.user.userid }} </td> 
					 </tr>
					 <tr>
						<td> NickName: </td>
						<td> {{ g.user.nickname }}</td>
					</tr>
					<tr>
						<td> E-mail: </td>
						<td> {{ g.user.email }}</td>
					</tr>
					<tr>
						<td> <button name = "Modify" onclick="javascript:location.href= ' {{g.url}}modify' ">Modify </button> </td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>

