{% extends "base.html" %}
{% block content %}
	<body>
			<center> <h1>Profile ------  {{ g.user.userid }}</h1> </center>
			</div>
  					
	    	<div class = "container-fluid">
	    		<center>
					<p class = "center">
						User ID:
						{{ g.user.userid }}
						 <br/>
						NickName:
						{{ g.user.nickname }}
						<br/>
						E-mail:
						{{ g.user.email }}
						<br/>
						<br/>
						{% if g.user.is_admin() %}
							<div class="btn-group" role="group" id = "submit">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    Action <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
								<li role="presentation"><a href="{{g.url}}modify"  >Modify </a> </li>
								<li role="presentation"><a href= {{ url_for('Manage')}}> Manage</a> </li>
								</ul>
							</div>
						{% endif %}
					</p>
				</center>
			</div>
		</div>
	</body>
{% endblock %}

