<!DOCTYPE html>
<html>
	 <head>
	 	<link href = "../static/css/main.css" rel = "stylesheet">
	 	<link rel="stylesheet" href="../static/css/bootstrap.css">
	 	<center> <h1> Problems </h1> </center>
	 </head>
	 <body>
	 	<div class="container">
		 	<div class="collapse navbar-collapse" >
			 	{% if g.user.is_authenticated() %}
					 <ul class="nav navbar-nav navbar-right">
						<li> <a href = {{ g.url }}> {{ g.user.userid }} </a> </li>
						<li> <a href = "/logout"> Log out </a> </li>
					</ul>
				{% else %}
					<ul class = "nav navbar-nav navbar-right">
						<li> <a href = "/login"> Login </a> </li>
						<li> <a href = "/sign_up"> Sign up </a> </li> 
					</ul>
				{% endif %}
	            <ul class = "nav nav-tabs">
	                <li> <a href = "/"> Homepage </a> </li>
	                <li> <a href = {{ url_for("Problems")}}> Problems </a> </li>
	                <li> <a href = {{ url_for("Status")}}> Status </a> </li> 
	                <li> <a href = "/FAQ/"> F.A.Q </a> </li> 
	            </ul>
			</div>
			<div id = "jumbotron">
				<table  class="table table-striped table-bordered">
					<thread>
						<tr>
							<th>Run ID</th>
							<th>User</th>
							<th>Problem ID</th>
							<th>Result</th>
							<th>Memory</th>
							<th>Time</th>
							<th>Language</th>
							<th>Code Length</th>
							<th>Submit Time</th>
						</tr>
					</thread>
					<tbody>
						{% for submit in submit_list.items %}
						<tr>
							<td> {{ submit.runid }} </td>
							<td><a href = {{ g.url }}> {{ submit.userid }} </a> </td>
							<td><a href = {{ url_for("Showprb", problemid = submit.pbid )}}> {{ submit.pbid }}  </a> </td>
							{% if submit.result == 'Compile Error' %}
                        		<td><a href={{ url_for('Show_compile_info',runid = submit.runid) }}>{{ submit.result }}</a></td>
                        	{% elif submit.result == 'Accepted' %}
                        		<td id = 'AC'> {{ submit.result }} </td>
		                    {% else %}
		                        <td> {{ submit.result }} </td>
		                    {% endif %}
							<td> {{ submit.memory }} </td>
							<td> {{ submit.jgtime }} </td>
							<td> <a href = {{ url_for("Viewcode", runid = submit.runid) }}>{{ submit.language }} </a> </td>
							<td> {{ submit.codelen }} </td>
							<td> {{ submit.time }} </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
	 	</div>
	 	<center>
	 	<nav>
		  <ul class="pagination">
		  {% if submit_list.has_prev%}
		  	<li><a href="{{ url_for('Status', page = submit_list.prev_num) }}">&larr; Previous</a></li>
		  {% else %}
		  	<li class = "disabled"><a>&larr; Previous</a></li>
		  {% endif %} 
		  {% if submit_list.has_next %}
		  	<li><a href="{{ url_for('Status', page = submit_list.next_num) }}">Next &rarr;</a></li>
			{% else %}
			<li class = "disabled"><a>Next &rarr;</a></li>
			{% endif %}
		  </ul>
		</nav>
		</center>
	 	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	 </body>
	 
</html>